
   <div id="popup" class="overlay">
    <div id="popupBody">
        <h2>Título de la ventana</h2>
        <a id="cerrar" href="#">&times;</a>
        <div class="popupContent">
           <p>Este es el contenido</p>
        </div>
    </div>
 </div>
<div class="columna">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <label text-align="center">
                Group Tasks
            </label>
        </li>
        <li>
      <img src="../../../assets/usr.png" width="100" height="100" class="img-responsive center-block"/><hr>
    </li>
        <li>
            <a href="#" [routerLink]="['/usuarios/formulario-usuarios']">Información personal</a>
        </li>
        <li>
            <a href="#" [routerLink]="['/tareas/lista-tareas']">Tareas</a>
        </li>
        <li>
            <a href="#">Pagina principal</a>
        </li>
        <li>
            <a href="#"[routerLink]="['/login/login-usuarios']">Cerrar sesión</a>
        </li>
        <li>
            <a href="#popup">Nosotros</a>
        </li>
    </ul>
<!-- /#sidebar-wrapper -->
</div>
<form class="contusuario" >
    <div class="form-group">
             <label>Nombre completo</label>
             <input type="text" [(ngModel)]="usuario.nombre_usuario" name="nombre_u" class="form-control" required minlength="2" />
             </div>
    <div class="form-group">
             <label>Edad</label>
             <input type="number" [(ngModel)]="usuario.edad" name="edad_u" class="form-control" />
             </div>   
     <div class="form-group">
        <label class="imagenL">Selecciona una imagen de perfil</label>
              <input name="image"
              style="display: none" [(ngModel)]="usuario.ruta_img_usuario"
              type="file" (change)="onFileUpload($event)"
              #fileInput>
            <button (click)="fileInput.click()">Agregar imagen</button>
            </div>
    <div class="form-group">
                <label>Ocupación  </label>
                <select >
                   <option value="est">Estudiante</option>
                   <option value="prof">Profesor</option>
                   <option value="otro">Otro</option>
                 </select>
                </div> 
    <div class="form-group">
             <label>Correo electronico</label>
             <input type="email" [(ngModel)]="usuario.correo" name="email" class="form-control" required email />
             </div>   
  <div class="form-group">
            <label for="contra" >Contraseña</label>
            <input type="password" [(ngModel)]="usuario.contrasena_usuario" class="form-control" name="pass" minlength="6" required>
            </div>
<br>
    <button type="submit"  class="btn btn-login  btn-success btn-lg btn-block">Guardar Cambios</button> 
</form>
