@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.body
{
    background: rgb(255, 255, 255);  /* fallback for old browsers */
}
.table{
    width: 40%;
    padding: 50px;
    text-align:center;
    margin: 0 auto;
    border: solid 1.5px  #00a76b;
}
.contusr
{
    background: #c05656;
    width: 20%;
    height: 500%;
    padding: 0%;
}
#wrapper {
    padding-left: 0;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #1e7264;
}

.sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */


.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: rgb(182, 171, 171);
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.contusuario
{
    width: 40%;
    padding: 50px;
    
    margin: 0 auto;
}
.label
{
    text-align: center;
}
img{  
    display:flex;
    margin:0 auto;
  }
  .columna{

        width: 240px;
        height: 620px;
        margin: 0px;
        padding: 0px;
        background: #1e7264;  
        float: left;
  }

  .sidebar-nav{
    width: 200px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
