<label>Lista de usuarios registrados</label>
<table class="table table-hover  table-light" >
    <thead class="thead-light">
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Ocupación</th>
            <th scope="col">Email</th>
            <th scope="col">Imagen</th>
    </thead>
    <tbody *ngFor="let usuario of usuarios; let i = index">
            <td>{{usuario.data().nombre_susuario}}</td>
            <td>{{usuario.data().edad}}</td>
            <td>{{usuario.data().ocupacion}}</td>
            <td>{{usuario.data().correo}}</td>
            <td><img [src]="profileUrl[i] | async" alt="" style="width: 100%;"></td>
            <hr>
    </tbody>
</table>