<div class="row m-3">
    <div class="col-md-4 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form   (ngSubmit)="onSubmit(ft)" #ft="ngForm">


            <div class="row">
              <div class="col">
                  <div class="form-group">
                      <input type="text" name="nombre_tarea"  [(ngModel)]="tarea.nombre_tarea" id="title" placeholder="Nombre" autofocus required>
                  </div>
                  <span *ngIf="ft.submitted && ft.controls['nombre_tarea'].errors"
                 class="text-danger">Es necesario el nombre de la tarea</span>
                  <div class="form-group">
                      <input type="text" name="descripcion_tarea"  [(ngModel)]="tarea.descripcion_tarea" id="description" placeholder="Descripción">
                  </div>
                  <div class="form-group">
                      <input name="image"
                      style="display: none" 
                      type="file" (change)="onFileUpload($event)"
                      #fileInput>
                    <button (click)="fileInput.click()">Select File</button>
                    <div>{{ uploadPercent | async }}</div>
                    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
                  </div>
              </div>
              <div class="col">
                <img src="../../../assets/to-do.png" style="width: 100px; height: 100px;" alt="">
              </div>
            </div>
            <div class="row col-10 p-4 m-auto shadow-sm border-rounded">
                <div class="col">Fecha entrega</div>
                <div class="col">
                  <input type="date" name="date" [(ngModel)]="date_order" id="date">
                </div>
                <i class="fas fa-calendar-alt fa-lg" ></i>
              </div>



            <div class="form-group">
                <button class="btn btn-success btn-block" (click)="saveTarea()">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body text-center">
          <div class="image-preview" >
            <img id="imagePreview" 
            [src]="imagePreview != null ? imagePreview :
            tarea.ruta_img_tarea != null ? '../../../assets/no-imagen.png' :
                   '../../../assets/no-imagen.png' " class="card-img-top" >
          </div>
          <h1>{{tarea.nombre_tarea == '' ? 'Tu titulo' : tarea.nombre_tarea}}</h1>
          <h2>{{tarea.descripcion_tarea == '' ? 'Tu descripción' : tarea.descripcion_tarea}}</h2>
        </div>
    </div>    
   
    </div>

    <!-- <img src="https://roboproyecto.appspot.com/uploads/profile_6m6fx1kemeu.png" alt=""> -->
  
    <div class="row col-12 col-md-12 m-0" style="background-color: #004B45;">

      <div class="row">

        <div class="col col-2 col-md-2">

            <div>
                <img src="../../../assets/team.png" alt="">
            </div>

        </div>
        <div class="div-team col col-10 col-md-10">
          <div class=" m-3 col col-12 col-md-12" >
                <app-listausuarios></app-listausuarios>
          </div>
        </div>

      </div>
      
    </div>