<div class="row mt-3">
    <div class="col-md-4 offset-md-2">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-group">
                <input type="text" name="title"  [(ngModel)]="tarea.nombre_tarea" id="title" placeholder="Nombre" autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="description"  [(ngModel)]="tarea.descripcion_tarea" id="description" placeholder="Descripción">
            </div>
            <div class="form-group">
                <input name="image"
                style="display: none" [(ngModel)]="tarea.ruta_img_tarea"
                type="file" (change)="onFileUpload($event)"
                #fileInput>
              <button (click)="fileInput.click()">Select File</button>
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" (click)="saveTarea()">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="card card-body text-center">
          <div class="image-preview" >
            <img id="imagePreview" 
            [src]="imagePreview != null ? imagePreview :
            tarea.ruta_img_tarea != null ? '../../../assets/no-imagen.png' :
                   '../../../assets/no-imagen.png' " class="card-img-top" >
          </div>
          <h1>{{tarea.nombre_tarea == '' ? 'Tu titulo' : tarea.nombre_tarea}}</h1>
          <h2>{{tarea.descripcion_tarea == '' ? 'Tu descripción' : tarea.descripcion_tarea}}</h2>
        </div>
    </div>    
   
    </div>

    <!-- <img src="https://roboproyecto.appspot.com/uploads/profile_6m6fx1kemeu.png" alt=""> -->
  