<app-header></app-header>
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1>Administración de tareas</h1>      
          <p>Group tasks es tu solución</p>
        </div>
      </div>
      
      
      <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="../../../assets/compu.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Perfil personal</h5>
              <p class="card-text">Puedes personalizar tu información personal</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/tareas.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Registrar tareas</h5>
              <p class="card-text">La "tarea" primordial, registro de tareas para posterior administración</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../../assets/usr.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Contribuidores</h5>
              <p class="card-text">Puedes visualizar los usuarios existentes en la plataforma</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
